targets:
  dev:
    mode: development
    default: true
    workspace:
      host: {{workspace_host}}
    variables:
      storage_root: "TODO"
      catalog: {{default_catalog}}
      env: dev
      slack_channel_email: ${workspace.current_user.userName}
