# {{.project_name}}

Things left to do:
- [ ] Open targets/dev.yml and update the storage_root and verify the catalog
- [ ] Create more targets as needed: `databricks bundle init dab-target --profile team_live` to create a new target for production
- [ ] Create a new job in jobs/ with `databricks bundle init dab-job` to create a new job
